@font-face {
    font-family: "U8-Regular";
    src:url("fonts/U8Trial-Regular.ttf")
}

@font-face {
    font-family: "U8-Bold";
    src:url("fonts/U8Trial-Bold.ttf")
}
@font-face {
    font-family: "U8-Medium";
    src:url("fonts/U8Trial-Medium.ttf")
}

body {
    background-color: white;
    font-size: 20px;
    font-family: "U8-Regular";
    margin:0;
    box-sizing: border-box;
}

header {
    margin-top: -10px;
}

.img-container {
    margin:0px auto 10px 20px;
}

.container {
    padding-top:30px;
    display: block;
   
}

input, select {
    width: 31%;
    border: 0px;
    border-radius: .25rem;
    box-sizing: border-box;
    padding:16px;
    margin: 12px 12px 40px 2px;
    font-family: inherit;
    font-size: .875rem;
    height:55px;
    background-color: #edf2f7;
    color:#1a202c;
    float: left;
}


label {
    float: left;
    text-align: left;
    font-size: 12px;
    color: #4a5568;
    font-weight: 600;
    margin: 12px 12px 10px 2px;
    width: 31%;
}

.form-container {
    background-color: white;
    max-width:1100px;
    padding: 35px;
    margin:10px auto;
}

button {
    display:block;
    margin:15px auto;
    padding: 1.25rem 30px ;
    border: 1px solid blue;
    border-radius: .75rem .75rem .75rem 0;
    color: white;
    background-color: rgb(8, 62, 158);
    cursor: pointer;
    font-family: "U8-medium";
    width: 100%;
    font-size: .875rem;
}

button:hover{
    background-color: blue;
    color:white;
    transition: ease 0.7s;
}

.clear {
    clear: both;
}