{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>HNG - Airtime Transfer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <link rel="shortcut icon" type="image/icon" href="{% static 'images/favicon.png'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body >
    <div style="background:url('{% static 'images/body.png'%}') no-repeat; background-position: 50% 50%; background-attachment: fixed; width:100%; min-height: 1000px;">
        <div class="container">
            <div class="img-container">
                <a href="/"><img alt="piggy" src="{% static 'images/logo.png' %}" width="250px"></a>
                <div style="float: right; margin-right:15px;">
                    <button class="btn" style="padding:10px 20px;"
                        onclick="location.href='{%url 'index'%}'">Single</button>
                </div>
            </div>
            

            <div class="form-container">
                <h5 style="color:blue; margin: 0; padding: 0;">For same amount</h5>
                <form form-data-url="{%url 'index'%}" method="POST">
                    {%csrf_token%}
                    <label for="fullname">Provider</label>
                    <label for="email">Amount</label>
                    <label for="tel">Numbers</label>
                    
                    <br>
                    <div class="del">
                        <select id="provider" name="provider_0" required>
                            <option> Select a Provider </option>
                            <option> MTN </option>
                            <option> Etisalat </option>
                            <option> Glo </option>
                            <option> Airtel </option>
                        </select>
                        <input id="amount" name="amount_0" placeholder="Amount" type="number" required>
                        <textarea id="phone" name="phone_0" rows="10" cols="20" placeholder="Multiple numbers seperated by comma" type="tel"></textarea>
                        <div class="clear"></div>
                        
                    </div>
                    
                    <div style="text-align: right; ">
                        <button style="width:30%" class="btnss"> SEND </button>
                    </div>
                    
                </form>

                <div class="clear"></div>
            </div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{%static 'js/script.js'%}"></script>

</body>