{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>HNG - Airtime Transfer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <link rel="shortcut icon" type="image/icon" href="{% static 'images/favicon.png'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div>
        <div class="container">
            <div class="img-container">
                <a href="/"><img alt="piggy" src="{% static 'images/piggy.png' %}" width="250px"></a>
            </div>
            <div class="form-container">
                <form action="" method="POST">
                    <label for="fullname">Phone Number</label>
                    <label for="email">Provider</label>
                    <label for="tel">Amount</label>
                    <br>
                <div class="del">
                    <input id="fullname"name="phone" placeholder="+234 " type="text">                    
                    <select id="provider" name="provider">
                        <option> MTN </option>
                        <option> Etisalat </option>
                        <option> Glo </option>
                        <option> Airtel </option>
                    </select>
                    <input id="amount" name="amount" placeholder="Amount" type="number">
                    <div class="clear"></div>
                    <div style="text-align: right; ">
                        <button style="width:30%"> SEND </button>
                    </div>
                </div>
                </form>
                <div class="clear"></div>
            </div>
            

        </div>
    </div>
</body>

</html>