{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>HNG - Airtime Transfer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <link rel="shortcut icon" type="image/icon" href="{% static 'images/favicon.png'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div>
        <div class="container">
            <div class="img-container">
                <a href="/"><img alt="piggy" src="{% static 'images/logo.png' %}" width="250px"></a>
            </div>
            <div class="form-container">
                {%if success%}
                <h5 style="color:greenyellow">{{success}}</h5>
                {%endif%}
                {%if error%}
                <h5 style="color:red">{{error}}</h5>
                {%endif%}
                <form form-data-url="{%url 'index'%}" method="POST">
                    {%csrf_token%}
                    <label for="fullname">Phone Number</label>
                    <label for="email">Provider</label>
                    <label for="tel">Amount</label>
                    <span class="add" style="color: #00aeff;cursor: pointer; font-size: 35px; font-weight:900">+</span>
                    <br>
                    <div class="del">
                        <input id="phone" name="phone_0" placeholder="+234 Phone" type="tel" required>
                        <select id="provider" name="provider_0" required>
                            <option> Select a Provider </option>
                            <option> MTN </option>
                            <option> Etisalat </option>
                            <option> Glo </option>
                            <option> Airtel </option>
                        </select>
                        <input id="amount" name="amount_0" placeholder="Amount" type="number" required>
                        <div class="clear"></div>
                        
                    </div>
                    <div style="text-align: right; ">
                        <button style="width:30%" class="btnss"> SEND </button>
                    </div>
                    
                </form>

                <div class="clear"></div>
            </div>

            <div class="alert-message-container">
                <p><input id="alertMessageBox" class="alert-message-box" /></p>
            </div>
            <div id="alert-area" class="alert-area"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{%static 'js/script.js'%}"></script>

</body>

</html>